{% set title="Update property" %}
{% extends "includes/main-layout.html" %}
<!-- ======= Header ======= -->
{% block header %}
{% include "includes/main-header.html" %}
{% endblock %}
<!-- ======= Sidebar ======= -->
{% block sidebar %}
{% include layout %}
{% endblock %}
{% block content %}
<div class="pagetitle">
    <h1>Update property</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/v/users">Home</a></li>
            <li class="breadcrumb-item active">Update property</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-10 offset-1">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update property to rent or sale</h5>

                    <!-- General Form Elements -->
                    <form>
                        <div class="alert alert-success" id="responseSuccess" style="display:none"></div>
                        <div class="alert alert-danger" id="responseFail" style="display:none"></div>
                        <div class="row mb-3">
                            <label for="code_number" class="col-sm-2 col-form-label">Property Number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="code_number">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="status">Property for</label>
                            <div class="col-sm-10">
                                <select class="form-select" id="status" aria-label="Default select example">
                                    <option selected="">Select</option>
                                    <option value="For sale">Sale</option>
                                    <option value="For rent">Rent</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="property_usage_type">Property Use</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example"
                                        id="property_usage_type">
                                    <option selected="">Select</option>
                                    <option value="Residential">Residential</option>
                                    <option value="Commercial">Commercial</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="briefDescription" class="col-sm-2 col-form-label">Brief Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" style="height: 100px" id="briefDescription"></textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="rooms" class="col-sm-2 col-form-label">Number of rooms</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="rooms">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="bathroom" class="col-sm-2 col-form-label">Bathroom</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="bathroom">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="parking_slots" class="col-sm-2 col-form-label">Parking slots</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="parking_slots">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="sqm" class="col-sm-2 col-form-label">Space in <b>m<sup>2</sup></b></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="sqm">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="year_built" class="col-sm-2 col-form-label">Year built</label>
                            <div class="col-sm-10">
                                <input type="number" maxlength="4" class="form-control" id="year_built">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="price" class="col-sm-2 col-form-label">Price in USD</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="price">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="price" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address" placeholder="street number">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="photos" class="col-sm-2 col-form-label">Photos</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" id="photos" multiple/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="description" class="col-sm-2 col-form-label">Detailed Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" style="height: 100px" id="description"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary w-100" id="btnUpdate">Update</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="/v/properties" class="btn btn-outline-primary w-100">Go back</a></p>
                            </div>
                        </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>
    </div>
</section>

<!-- ======= Footer ======= -->
{% endblock %}
{% block scripts %}
<script>
    const urlArr = getUrlParams();
    const id = urlArr[urlArr.length - 1];
    loadById();
    document.querySelector("#btnUpdate").onclick = () => {
        event.preventDefault();
        console.log("Button clicked");
        save();
    }

    async function loadById() {
        const res = await fetch(`${baseUrl}/property/${id}`)
            .then(response => response.json())
            .then(result => result)
            .catch(error => console.log('error', error));
        if (res.length > 0) {
            let obj = res[0];
            document.querySelector("#code_number").value = obj.code;
            document.querySelector("#briefDescription").value = obj.brief_description;
            // document.querySelector("#property_usage_type").value = obj.property_usage_type;
            document.querySelector("#description").value = obj.description;
            document.querySelector("#rooms").value = obj.rooms;
            document.querySelector("#bathroom").value = obj.bathroom;
            document.querySelector("#parking_slots").value = obj.parking_slots;
            document.querySelector("#sqm").value = obj.sqm;
            document.querySelector("#year_built").value = obj.year_built;
            document.querySelector("#price").value = obj.price;
            document.querySelector("#address").value = obj.address;
            document.querySelector("#status").value = obj.status;
        }
    }


    async function save() {
        let formData = new FormData();
        let el = document.querySelector("#photos").files;
        for (let i = 0; i < el.length; i++) {
            formData.append("photos", el[i]);
        }
        formData.append("user_id", localStorage.getItem("id"));
        formData.append("code", document.querySelector("#code_number").value);
        formData.append("brief_description", document.querySelector("#briefDescription").value);
        formData.append("property_usage_type", document.querySelector("#property_usage_type").value);
        formData.append("description", document.querySelector("#description").value);
        formData.append("rooms", document.querySelector("#rooms").value);
        formData.append("bathroom", document.querySelector("#bathroom").value);
        formData.append("parking_slots", document.querySelector("#parking_slots").value);
        formData.append("sqm", document.querySelector("#sqm").value);
        formData.append("year_built", document.querySelector("#year_built").value);
        formData.append("price", document.querySelector("#price").value);
        formData.append("address", document.querySelector("#address").value);
        formData.append("status", document.querySelector("#status").value);

        var requestOptions = {
            method: 'POST',
            body: formData,
            headers: {
                // "Content-Type": "application/json"
            }
        };

        const res = await fetch(`${baseUrl}/property/${id}`, requestOptions)
            .then(response => response.json())
            .then(result => result)
            .catch(error => console.log('error', error));
        if (res.status) {
            let el = document.querySelector("#responseSuccess");
            el.setAttribute("style", "display:block");
            document.querySelector("#responseFail").setAttribute("style", "display:none");
            el.innerHTML = res.message;
        } else {
            let el = document.querySelector("#responseFail");
            el.setAttribute("style", "display:block");
            document.querySelector("#responseSuccess").setAttribute("style", "display:none");
            el.innerHTML = res.message;

        }
    }

</script>
{% endblock %}