{% set title="Register user" %}
{% extends "includes/main-layout.html" %}
<!-- ======= Header ======= -->
{% block header %}
{% include "includes/main-header.html" %}
{% endblock %}
<!-- ======= Sidebar ======= -->
{% block sidebar %}
{% include "includes/admin-sidebar.html" %}
{% endblock %}
{% block content %}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
                    <a href="/v/" class="logo d-flex align-items-center w-auto">
                        <img src="/static/assets/img/cropped-logo-furu.jpg" alt="">
                        <span class="d-none d-lg-block">F&U Real estate</span>
                    </a>
                </div><!-- End Logo -->

                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Update user</h5>
                            <!--                                    <p class="text-center small">Enter your full info create new account</p>-->
                        </div>

                        <form class="row g-3 needs-validation" novalidate>
                            <div class="alert alert-success" id="responseSuccess" style="display:none"></div>
                            <div class="alert alert-danger" id="responseFail" style="display:none"></div>
                            <div class="col-12">
                                <label for="name" class="form-label">Names</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrependName">A</span>
                                    <input type="text" name="username" class="form-control" id="name" required>
                                    <div class="invalid-feedback">Please enter your names.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="email" class="form-label">Email</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrependEmail">@</span>
                                    <input type="text" name="username" class="form-control" id="email" required>
                                    <div class="invalid-feedback">Please enter your email.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="phone" class="form-label">Phone number</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrependPhone">#</span>
                                    <input type="text" name="username" class="form-control" id="phone" required>
                                    <div class="invalid-feedback">Please enter your phone number.</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="user_type" class="form-label">User type</label>
                                <select name="user_type" class="form-control" id="user_type" required>
                                    <option value="admin">Admin</option>
                                    <option value="client">Client</option>
                                    <option value="landlord">Landlord</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit" id="btnUpdate">Update</button>
                            </div>                            <div class="col-12">
                                <a href="/v/users" class="btn btn-outline-primary w-100">Go back</a></p>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                    Designed by <a href="#">Emile RUTAGENGWA</a>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- ======= Footer ======= -->
{% endblock %}
{% block scripts %}
<script>
    const urlArr = getUrlParams();
    const id = urlArr[urlArr.length - 1];
    loadById();
    document.querySelector("#btnUpdate").onclick = () => {
        event.preventDefault();
        console.log("Button clicked");
        save();
    }

    async function loadById() {
        const res = await fetch(`${baseUrl}/user/${id}`)
            .then(response => response.json())
            .then(result => result)
            .catch(error => console.log('error', error));
        if (res.length > 0) {
            let obj = res[0];
            document.querySelector("#name").value = obj.name;
            document.querySelector("#phone").value = obj.phone;
            document.querySelector("#email").value = obj.email
        }
    }

    async function save() {
        const data = {
            name: document.querySelector("#name").value,
            phone: document.querySelector("#phone").value,
            email: document.querySelector("#email").value,
            user_type: document.querySelector("#user_type").value
        }
        var requestOptions = {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json"
            }
        };
        const res = await fetch(`${baseUrl}/user/${id}`, requestOptions)
            .then(response => response.json())
            .then(result => result)
            .catch(error => console.log('error', error));
        if (res.status) {
            let el = document.querySelector("#responseSuccess");
            el.setAttribute("style", "display:block");
            document.querySelector("#responseFail").setAttribute("style", "display:none");
            el.innerHTML = res.message;
            redirectBack("/v/users");
        } else {
            let el = document.querySelector("#responseFail");
            el.setAttribute("style", "display:block");
            document.querySelector("#responseSuccess").setAttribute("style", "display:none");
            el.innerHTML = res.message;

        }
    }

</script>
{% endblock %}