<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/v/properties">
                <i class="bi bi-building"></i>
                <span>Properties</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/v/bids">
                <i class="bi bi-wallet2"></i>
                <span>Bids</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/v/sales">
                <i class="bi bi-cash-coin"></i>
                <span>Sales</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-heading">More</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/v/profile">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" id="aLogout">
                <i class="bi bi-box-arrow-down-right"></i>
                <span>Logout</span>
            </a>
        </li><!-- End Profile Page Nav -->
    </ul>
</aside><!-- End Sidebar-->
