{% set title="Properties" %}
{% extends "includes/web-layout.html" %}
<!-- ======= Header ======= -->
{% block header %}
{% include "includes/web-header.html" %}
{% endblock %}

{% block content %}
  <main id="main">

    <!-- ======= About Section ======= -->
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img src="/static/assets/img/cropped-logo-furu.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-lg-2  d-none d-lg-block position-relative">
                <div class="title-vertical d-flex justify-content-start">
                  <span>F&U Real Estate</span>
                </div>
              </div>
              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d">Vision
                    <span class="color-d">Mission</span> Core values
                  </h3>
                </div>
                <p class="color-text-a">
                  <b>Vision</b>
                  To be the most professional real estate brokerage and Agency in Rwanda and the fastest growing and successful business in all of our operating branches nationwide and beyond.

                </p>
                <p class="color-text-a">

                  <b>Mision</b>
                  Commitment to achieve our vision through our core values and to provide excellent quality of real estate services in Rwanda by surpassing client’s expectation.
                </p>
                <p class="color-text-a">

                  <b>Core Values</b>
                  Honesty: We always tell the truth, no matter how difficult.
                  Quality: We put pride in our work and stand by it.
                  Learning-based: We are always learning and growing.
                  Professionalism: We work and present ourselves with respect and dignity.
                  Efficiency: We seek not to waste time or money.
                  Win-Win: Win-Win or No Deal
                  Be the Best: Through education, service, and effort.
                  Communication: Is the core of our success.
                  Teamwork: You are an important member of our team.
                  Trust: From our honest communication and follow-through.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
{% endblock %}