{% set title="Properties" %}
{% extends "includes/web-layout.html" %}
<!-- ======= Header ======= -->
{% block header %}
{% include "includes/web-header.html" %}
{% endblock %}

{% block content %}
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Contact US</h1>
                        <span class="color-text-a"> F&U REAL ESTATE LTD. (FURE) staff and management team, I would like to welcome you to our company’s official website.
                        It is my sincere wish that you find F&U REAL ESTATE as a partner, and that we assist you in realizing your dream of investing in our country. Welcome to Rwanda.</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/v/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Contact
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Contact Single ======= -->
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <form role="form" class="php-email-form">
                        <div class="alert alert-success" id="responseSuccess" style="display: none;"></div>
                        <div class="alert alert-danger" id="responseFail" style="display: none;"></div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control form-control-lg form-control-a" id="name"
                                           placeholder="Your Name" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <input name="email" type="email" id="email" class="form-control form-control-lg form-control-a"
                                           placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <input type="text" name="subject" id="subject"
                                           class="form-control form-control-lg form-control-a" placeholder="Subject"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" name="message" cols="45" rows="8"
                                              placeholder="Message" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 my-3">
                                <div class="mb-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="button" id="btnSendMessage" class="btn btn-a">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 section-md-t3">
                    <div class="icon-box section-b2">
                        <div class="icon-box-icon">
                            <span class="bi bi-envelope"></span>
                        </div>
                        <div class="icon-box-content table-cell">
                            <div class="icon-box-title">
                                <h4 class="icon-title">Say Hello</h4>
                            </div>
                            <div class="icon-box-content">
                                <p class="mb-1">Email.
                                    <span class="color-a">info@furealestates.com</span>
                                </p>
                                <p class="mb-1">F&R Phone.
                                    <span class="color-a"> +250 783 734 066</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box section-b2">
                        <div class="icon-box-icon">
                            <span class="bi bi-geo-alt"></span>
                        </div>
                        <div class="icon-box-content table-cell">
                            <div class="icon-box-title">
                                <h4 class="icon-title">Find us in</h4>
                            </div>
                            <div class="icon-box-content">
                                <p class="mb-1">
                                    Down town, CHIC Building,
                                    <br> No 81.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Single-->

</main><!-- End #main -->
{% endblock %}
{% block scripts %}
<script>
    document.querySelector("#btnSendMessage").onclick = function(){
        sendContact();
    }
    async function sendContact() {
      const data = {
        name:document.querySelector("#name").value,
        email:document.querySelector("#email").value,
        subject:document.querySelector("#subject").value,
        message:document.querySelector("#message").value
      }
      var requestOptions = {
        method: 'POST',
        body:JSON.stringify(data),
        headers: {
          "Content-Type": "application/json"
        }
      };
      const res = await fetch("http://localhost:3000/contactus", requestOptions)
              .then(response => response.json())
              .then(result => result)
              .catch(error => console.log('error', error));
      if(res.status){
        let el = document.querySelector("#responseSuccess");
        el.setAttribute("style","display:block");
        document.querySelector("#responseFail").setAttribute("style","display:none");
        el.innerHTML = "Logged in successfully";
        document.querySelector("#username").value="";
        document.querySelector("#password").value="";
        let obj = res.data[0];
        localStorage.setItem("id",obj.id);
        localStorage.setItem("name",obj.name);
        localStorage.setItem("email",obj.email);
        localStorage.setItem("phone",obj.phone);
        localStorage.setItem("user_type",obj.user_type);
        if(obj.user_type=="Admin")
          window.location='/v/users';
        else if(obj.user_type=="Landlord")
          window.location='/v/'
        else
          window.location='/v/bids'
      }else{
        let el = document.querySelector("#responseFail");
        el.setAttribute("style","display:block");
        document.querySelector("#responseSuccess").setAttribute("style","display:none");
        el.innerHTML = res.message;
      }
    }

  </script>
{% endblock %}