<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="nav-footer">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="/v/">Home</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/v/about">About</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/v/property">Property</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/v/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright-footer">
                    <p class="copyright color-text-a">
                        &copy; Copyright
                        <span class="color-a">Emile</span> All Rights Reserved.
                    </p>
                </div>
                <div class="credits">
                    <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
                  -->
                    Designed by <a href="#">Emile RUTAGENGWA</a>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->
