{% set title="Home" %}
{% extends "includes/web-layout.html" %}
<!-- ======= Header ======= -->
{% block header %}
{% include "includes/web-header.html" %}
{% endblock %}

{% block content %}
<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper" id="home-data">

        <div class="swiper-slide carousel-item-a intro-item bg-image"
             style="background-image: url(/static/assets/img/slide-1.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Gasabo,Gisozi
                                        <br>
                                    </p>
                                    <h1 class="intro-title mb-4 ">
                                        <span class="color-b"> </span>
                                        <br> Quiety residential place
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">rent | $ 3500</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide carousel-item-a intro-item bg-image"
             style="background-image: url(/static/assets/img/slide-2.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">KG567ST House for sale No 30
                                        <br>
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">30 </span>
                                        <br> Near RBA
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide carousel-item-a intro-item bg-image"
             style="background-image: url(/static/assets/img/slide-3.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Kicukiro,Kagarama
                                        <br>
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">204 </span> Apartment for rent
                                        <br> Kagarama house
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">rent | $ 2500</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Our Services</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-house"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Residential</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                F&U Real Estate is the ultimate company agency for all your property rental needs. We
                                have a comprehensive listing of available residential units to suit a wide variety of
                                clients. Our team is passionate about helping people find their perfect homes. F&U Real
                                Estate is Always there for you !
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-building"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Commercial</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Finding the right offices or an industrial space for rent is not just about square
                                meters and parking ratios. It´s more about the office space meeting the tenant´s
                                business needs. With an experienced team and comprehensive database of available rental
                                properties for commercial use, F&U Real Estate definitely has the resources to make that
                                match for you. F&U Real Estate is Always there for you !
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="bi bi-card-checklist"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Sell</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                We provide assistance to clients to purchase, sale of any kind of property in Rwanda. We
                                will take clients to visit all of potential properties so that you can physically see
                                the actual condition and location of the properties. We also help clients in preparation
                                of sale and purchase contract of property. F&U Real Estate is Always there for you !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Latest Properties</h2>
                        </div>
                        <div class="title-link">
                            <a href="/v/property/">All Property
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="property-carousel" class="swiper">
                <div class="swiper-wrapper" id="properties-data">

                </div>
            </div>
            <div class="propery-carousel-pagination carousel-pagination"></div>

        </div>
    </section><!-- End Latest Properties Section -->

</main><!-- End #main -->
{% endblock %}
{% block scripts %}
<script>
    loadData();

    async function loadData() {
        var requestOptions = {
            method: 'GET',
            headers: {
                "Content-Type": "application/json"
            }
        };
        const data = await fetch("http://localhost:3000/available/properties", requestOptions)
            .then(response => response.json())
            .then(result => result)
            .catch(error => console.log('error', error));
        setContent(data);
        setContentSwiper(data);
    }

    function setContent(arr) {
        var data = '';
        for (var i = 0; i < arr.length; i++) {
            data += `<div class="carousel-item-b swiper-slide" onclick=carouselClick(this) data-id=${arr[i].id}>
                        <div class="card-box-a card-shadow" style="height: 550px">
                            <div class="img-box-a">`
            if (arr[i].photos !== '' && arr[i].photos !== 'undefined' && arr[i].photos.length > 0) {
                let obj = JSON.parse(arr[i].photos.replaceAll("\\", "\/"));
                data += `<img src="http://localhost:3000/images/${obj[0].filename}" alt="" class="img-a img-fluid">`
            } else {
                data += `<img src="/static/assets/img/property-2.jpg" alt="" class="img-a img-fluid">`
            }
            data += `</div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="/v/property/${arr[i].id}">${arr[i].brief_description}
                                                <br/> </a>
                                        </h2>
                                        <h5 style="color:white">${arr[i].property_usage_type}</h5>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">${arr[i].status} | ${new Intl.NumberFormat("en-US", {
                style: "currency",
                currency: "USD"
            }).format(arr[i].price)}</span>
                                        </div>
                                        <a href="/v/property/${arr[i].id}" class="link-a">Click here to view
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>${arr[i].sqm}m
                            <sup>2</sup>
                          </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Beds</h4>
                                                <span>${arr[i].rooms}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Baths</h4>
                                                <span>${arr[i].bathroom}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Parking</h4>
                                                <span>${arr[i].parking_slots}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
      `
        }
        document.querySelector("#properties-data").innerHTML = data;
    }

    function setContentSwiper(arr) {
        var data = "";
        for (let i = 0; i < arr.length; i++) {
            data += `<div class="swiper-slide carousel-item-a intro-item bg-image"`
            if (arr[i].photos !== '' && arr[i].photos !== 'undefined' && arr[i].photos.length > 0) {
                let obj = JSON.parse(arr[i].photos.replaceAll("\\", "\/"));
                data += `style="background-image: url(http://localhost:3000/images/${obj[0].filename})">`
            } else {
                data += `style="background-image: url(/static/assets/img/slide-1.jpg)">`
            }
            // data+=`style="background-image: url(/static/assets/img/slide-1.jpg)">`
            data += `<div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">${arr[i].address}
                                        <br>
                                    </p>
                                    <h1 class="intro-title mb-4 ">
                                        <span class="color-b"> </span>
                                        <br> ${arr[i].brief_description}
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">${arr[i].property_usage_type} | ${new Intl.NumberFormat("en-US", {
                style: "currency",
                currency: "USD"
            }).format(arr[i].price)}</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>`
        }

        document.querySelector("#home-data").innerHTML = data;
    }

    function carouselClick(obj) {
        window.location = "/v/property/" + obj.getAttribute("data-id");
    }
</script>
{% endblock %}