{% set title="Properties" %}
{% extends "includes/web-layout.html" %}
<!-- ======= Header ======= -->
{% block header %}
{% include "includes/web-header.html" %}
{% endblock %}

{% block content %}
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single" id="property_brief"></h1>
                        <span class="color-text-a" id="property_address"></span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/v/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/v/property/1">Property</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">

                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div id="property-single-carousel" class="swiper">
                        <div class="swiper-wrapper" id="property-single-images">
                            <div class="carousel-item-b swiper-slide">
                                <img src="/static/assets/img/slide-1.jpg" alt="">
                            </div>
                            <div class="carousel-item-b swiper-slide">
                                <img src="/static/assets/img/slide-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="property-single-carousel-pagination carousel-pagination"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" id="properties-data">
                    <div class="row justify-content-between">
                        <div class="col-md-5 col-lg-4">
                            <div class="property-price d-flex justify-content-center foo">
                                <div class="card-header-c d-flex">
                                    <div class="card-box-ico">
                                        <span class="bi bi-cash">$</span>
                                    </div>
                                    <div class="card-title-c align-self-center">
                                        <h5 class="title-c">15000</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="property-summary">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d section-t4">
                                            <h3 class="title-d">Quick Summary</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-list">
                                    <ul class="list">
                                        <li class="d-flex justify-content-between">
                                            <strong>Property ID:</strong>
                                            <span>1134</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Location:</strong>
                                            <span>Chicago, IL 606543</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Property Type:</strong>
                                            <span>House</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Status:</strong>
                                            <span>Sale</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Area:</strong>
                                            <span>340m
                          <sup>2</sup>
                        </span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Beds:</strong>
                                            <span>4</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Baths:</strong>
                                            <span>2</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Garage:</strong>
                                            <span>1</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-7 col-lg-7 section-md-t3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Property Description</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description">
                                <p class="description color-text-a">
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Donec velit
                                    neque, auctor sit amet
                                    aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum
                                    porta.
                                    Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget
                                    tincidunt
                                    nibh pulvinar quam id dui posuere blandit.
                                </p>
                                <p class="description color-text-a no-margin">
                                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue
                                    leo eget
                                    malesuada. Quisque velit nisi,
                                    pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="chat-reviews" id="chat-reviews">
                    <div class="d-flex flex-row justify-content-start mb-4">
                        <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 237, 192,.2);">
                            <b>Asua</b>
                            <p class="small mb-0">Hello and thank you for visiting MDBootstrap. Please click the video
                                below.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="order-form" style="display: none">
                <div class="title-box-d section-t4">
                    <h4 class="title-d">Order information</h4>
                </div>
                <div class="alert alert-success" id="responseSuccess" style="display:none"></div>
                <div class="alert alert-danger" id="responseFail" style="display:none"></div>
                <div class="col-12">
                    <label for="order_price" class="form-label">Price</label>
                    <input type="number" name="order_price" class="form-control" id="order_price">
                </div>
                <div class="col-12">
                    <label for="contract_start" class="form-label">Contract start</label>
                    <input type="date" name="contract_start" class="form-control" id="contract_start">
                </div>
                <div class="col-12">
                    <label for="contract_end" class="form-label">Contract end</label>
                    <input type="date" name="contract_start" class="form-control" id="contract_end">
                </div>
                <br>
                <div class="col-12">
                    <button type="button" class="btn btn-primary col-lg-12" id="btnSendOrder">Send Order</button>
                </div>
                <br>
            </div>
            <div class="alert alert-danger" id="noDataFound" style="display: none">No data found</div>
            <button class="btn btn-success col-lg-4" id="btnOrder">Make Order</button>
        </div>
    </section><!-- End Property Single-->

</main><!-- End #main -->
{% endblock %}
{% block scripts %}
<script>
    loadData();
    loadReviews();
    document.querySelector("#contract_start").onchange = () => {
        document.querySelector("#contract_end").min = document.querySelector("#contract_start").value;
        document.querySelector("#contract_end").value = "";
    }
    document.querySelector("#btnSendOrder").onclick = () => {
        console.log("Send order requested");
        if (localStorage.getItem("user_type").toLowerCase() === "client") {
            sendOrder();
        }else{
            alert("You are not allowed to make an order")
        }
    }

    document.querySelector("#btnOrder").onclick = () => {
        event.preventDefault();
        console.log(`Order clicked ${localStorage.getItem("id")}`);
        if (localStorage.getItem("id") === null) {
            alert("You should signin to make order");
            window.open("http://localhost:3000/v/login", "_blank");
        } else if (localStorage.getItem("user_type").toLowerCase() !== "client") {
            alert("You should sign in as client to make your order");
        } else {
            console.log(`User logged in ${localStorage.getItem("id")}`)
            document.querySelector("#order-form").style = 'display:block';
        }
    }

    async function sendOrder() {
        let params_arr = document.URL.split("/")
        let propertyId = params_arr[params_arr.length - 1];
        console.log(document.querySelector("#order_price").value);
        const data = {
            property_id: propertyId,
            client_id: localStorage.getItem("id"),
            price: document.querySelector("#order_price").value,
            contract_start: document.querySelector("#contract_start").value,
            contract_end: document.querySelector("#contract_end").value
        }
        var requestOptions = {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json"
            }
        };
        const res = await fetch("http://localhost:3000/bid", requestOptions)
            .then(response => response.json())
            .then(result => result)
            .catch(error => console.log('error', error));
        if (res.status) {
            document.querySelector("#responseSuccess").innerHTML = res.message;
            document.querySelector("#responseSuccess").style = 'display:block';
        } else {
            document.querySelector("#responseFail").innerHTML = res.message;
            document.querySelector("#responseFail").style = 'display:block';
        }
    }

    async function sendReview() {
        let params_arr = document.URL.split("/")
        let propertyId = params_arr[params_arr.length - 1];
        const data = {
            property_id: propertyId,
            user_id: localStorage.getItem("id"),
            message: document.querySelector("#textReview").value
        }
        var requestOptions = {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json"
            }
        };
        const res = await fetch("http://localhost:3000/review", requestOptions)
            .then(response => response.json())
            .then(result => result)
            .catch(error => console.log('error', error));
        if (res.status) {
            document.querySelector("#responseSuccessReview").innerHTML = res.message;
            document.querySelector("#responseSuccessReview").style = 'display:block';
        } else {
            document.querySelector("#responseFailReview").innerHTML = res.message;
            document.querySelector("#responseFailReview").style = 'display:block';
        }
    }

    async function loadData() {
        let params_arr = document.URL.split("/")
        let propertyId = params_arr[params_arr.length - 1];
        var requestOptions = {
            method: 'GET',
            headers: {
                "Content-Type": "application/json"
            }
        };
        const data = await fetch("http://localhost:3000/property/" + propertyId, requestOptions)
            .then(response => response.json())
            .then(result => result)
            .catch(error => console.log('error', error));
        setContent(data);
        setContentImages(data);

        document.querySelector("#btnPostReview").onclick = () => {
            event.preventDefault();
            console.log(`Order clicked ${localStorage.getItem("id")}`);
            if (localStorage.getItem("id") === null) {
                alert("You should signin to send your review");
                window.open("http://localhost:3000/v/login", "_blank");
            } else if(localStorage.getItem("user_type").toLowerCase() === "client"){
                console.log(`User logged in ${localStorage.getItem("id")}`)
                sendReview();
            }else{
                alert("You are not allowed to post a review")
            }
        }

    }

    async function loadReviews() {
        let params_arr = document.URL.split("/")
        let propertyId = params_arr[params_arr.length - 1];
        var requestOptions = {
            method: 'GET',
            headers: {
                "Content-Type": "application/json"
            }
        };
        const data = await fetch("http://localhost:3000/review/property/" + propertyId, requestOptions)
            .then(response => response.json())
            .then(result => result)
            .catch(error => console.log('error', error));
        let text = '';
        for (let i = 0; i < data.length; i++) {
            text += `<div className="d-flex flex-row justify-content-start mb-4">
                <div className="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 237, 192,.2);padding:10px">
                    <b>${data[i].name}</b>
                    <p className="small mb-0">${data[i].message}.</p>
                </div>
            </div><br>`;
        }
        document.querySelector("#chat-reviews").innerHTML = text;
    }

    function setContent(arr) {
        var data = '';
        if (arr.length == 0) {
            document.querySelector("#noDataFound").style = 'display:block';
            document.querySelector("#btnOrder").style = 'display:none';
            document.querySelector("#properties-data").innerHTML = `<div style='color:red'>No property data found</div>`
        }
        for (var i = 0; i < arr.length; i++) {
            document.querySelector("#property_brief").innerHTML = arr[i].brief_description;
            document.querySelector("#property_address").innerHTML = arr[i].address;
            data += `<div class="col-sm-12" id="properties-data" >
            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-price d-flex justify-content-center foo card-box-ico">
                  <div class="card-header-c d-flex ">
                    <div class="">
                      <span class="bi bi-cash"></span>
                    <div class="card-title-c align-self-center">
                      <h5 class="title-c">${new Intl.NumberFormat("en-US", {
                style: "currency",
                currency: "USD"
            }).format(arr[i].price)}</h5>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t4">
                        <h3 class="title-d">Quick Summary</h3>
                      </div>
                    </div>
                  </div>
                  <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between">
                        <strong>Property ID:</strong>
                        <span>${arr[i].code}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Location:</strong>
                        <span>${arr[i].address}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Property Type:</strong>
                        <span>${arr[i].property_usage_type}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Status:</strong>
                        <span>${arr[i].status}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Area:</strong>
                        <span>${arr[i].sqm}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Beds:</strong>
                        <span>${arr[i].rooms}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Baths:</strong>
                        <span>${arr[i].bathroom}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Parking:</strong>
                        <span>${arr[i].parking_slots}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">Property Description</h3>
                    </div>
                  </div>
                </div>
                <div class="property-description">
                  <p class="description color-text-a">
                    ${arr[i].brief_description}
                  </p>
                  <p class="description color-text-a no-margin">
                    ${arr[i].description}.
                  </p>
                </div>
                <br><br>
                <div class="title-box-d section-t4">
                    <h3 class="title-d">Reviews</h3>
                </div>
                <div class="justify-content-md-between" id="review">
                    <form>
                        <div class="alert alert-success" id="responseSuccessReview" style="display:none"></div>
                        <div class="alert alert-danger" id="responseFailReview" style="display:none"></div>
                        <textarea class="form-control" id="textReview" cols="3"></textarea><br>
                        <input type="button" class="btn btn-primary" id="btnPostReview" value="Post a review">
                    </form>
                </div>
                </div>
            </div>
          </div>
      `
        }
        document.querySelector("#properties-data").innerHTML = data;
    }

    function setContentImages(arr) {
        let data = "";
        for (let i = 0; i < arr.length; i++) {
            if (arr[i].photos !== '' && arr[i].photos !== 'undefined' && arr[i].photos.length > 0) {
                let obj = JSON.parse(arr[i].photos.replaceAll("\\", "\/"));
                for (let x = 0; x < obj.length; x++) {
                    data += `<div class="carousel-item-b swiper-slide">`

                    data += `<img src="http://localhost:3000/images/${obj[i].filename}" alt="" class="img-a img-fluid">`
                    data += `</div>`
                }
            } else {
                data += `<div class="carousel-item-b swiper-slide">
                            <img src="/static/assets/img/slide-1.jpg" alt="" class="img-a img-fluid" >
                        </div>`
            }
        }
        console.log(data);
        document.querySelector("#property-single-images").innerHTML = data;
    }
</script>
{% endblock %}